h1 {
  font-size: 1.5em;
  color: #7AF;
  text-align: center;
}
h2 {
  font-size: 1.1em;
}
h2 {
  font-size: 1.3em;
}
h1, h2, h3 {
  padding: 0px;
  margin: 0px;
  font-variant: small-caps;
  font-weight: normal;
}
h2, h3 {
  color: black ;
}
#left {
float:left;
width: 20%;
padding-bottom: 2em;
padding-right: 1em;
margin-right: 1em;
}

#right{
  padding-left: 1em;
  padding-right: 1em;
  width: 60%;
  margin-left: 20%;
}

#anchors {
  padding-left: 3em;
  width: 19%;
  float:right;
}

a {
  color: #07F;
}

a:visited {
  color: #7AF;
}

.editor {
margin-left:10px;
margin-bottom:10px;
border: 1px solid #7AF;
}

.editor h3 {
  color: #7AF;
  margin:0px;
  text-align: right;
  margin-bottom: -1.1em;
}

.CodeMirror-scroll {
  height: auto !important;
  overflow-y: hidden;
  overflow-x: auto;
}
.CodeMirror-lines { padding-left: 1em }

li{
  list-style: none;
}
