_build
metalang
*.bin
*.class
*.exe
*.not_compile
*.test
*.native
*.byte
*~
*#
*.tar.gz
*.dat
*.sources
execPL
execRB
execOBJC
execC
execCL
execGO
execJS
execJAVA
compileC
compileAll
compileCC
compileCS
compileFUNML
compileJAVA
compileML
compileOBJC
compilePAS
compileADA
compileVB
allsources
*.test_hs_ml
*.test_cl_ml
*.exeVB

